#----- Serverless Function -----#
# Serverless directories
.serverless

# Golang output binary directory
bin

# Golang vendor (dependencies) directory
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#----- Web App -----#
# Build output
dist/

# Generated types
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#----- General -----#
# Editor Settings
.vscode/*
!.vscode/cspell.json
!.vscode/extensions.json

# User files
.DS_Store