/* Break points */
@mixin breakpoint($point) {
  @if $point == largeScreen {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 800px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}