@import './breakpoints.scss';

@mixin button-structure {
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.btn,
.btn:visited {
  @include button-structure;
  border: none;
  background-color: var(--blue);
  color: #ffffff;

  &:not(:disabled):not(:active):hover {
    box-shadow: 2px 1px 3px 2px var(--greyLight);
    transform: translate(-1px)
  }
}

.btn-light {
  @include button-structure;
  border: 1px solid var(--blue);
  background-color: #ffffff;
  color: var(--blue);
}

.btn-pair {
  > button {
    width: calc(50% - 0.5rem);
    padding: 0.5rem;

    @include breakpoint('tablet') {
      width: auto;
      padding: 0.5rem 1rem;
    }
  }

  > button:first-of-type {
    margin-right: 0.5rem;

    @include breakpoint('tablet') {
      margin-right: 1rem;
    }
  }
}

.back-btn {
  background-color: var(--alizarin-crimson);
}

.spaced-btn {
  margin: 0.3125em;
  width: fit-content;
}

.link-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
}

.anchor-btn {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: var(--blueLight);
  font-size: var(--fontSizeSmall);

  @include breakpoint('tablet') {
    font-size: var(--fontSizeNormal);
  }
}

.disabled-btn {
  color: white;
  background-color: darkgray;
  border: none;
  cursor: default;
}