.btn {
  background-color: var(--blue);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.back-btn {
  background-color: var(--alizarin-crimson);
}

.spaced-btn {
  margin: 0.3125em;
}
