@import './breakpoints.scss';

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

label {
  color: var(--blue);
  display: flex;
  flex-direction: column;
  font-size: var(--fontSizeSmall);
  margin: 0 0 1.5rem;
}

input,
select {
  border: 1px solid var(--greyLight);
  margin-top: 0.5rem;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}

.field-group {
  display: flex;
  flex-direction: column;

  @include breakpoint('tablet') {
    flex-direction: row;
    justify-content: space-between;

    > label {
      width: 45%;
    }
  }
}

.consent {
  text-decoration: underline;
  cursor: pointer;
}