@import './breakpoints.scss';

:root {
  --blue: #0a2240;
  --blueLight: #3474DA;
  --grey: #8c8c8c;
  --greyLight: #dadada;
  --greyLighter: #f5f5f5;
  --orange: #dd7533;
  --red: #b72929;
  --greenBright: #30d60f;
  --orangeBright: #ffa500;
  --redBright: #f70707;

  /* Colors from https://brand.america.gov/d/WrAFnKrhEEfk/our-brand#/visual-elements/colors */
  --gray-chateau: #8d98aa;
  --hot-toddy: #c2850c;
  --iron: #e4e5e6;
  --azure: #345d96;
  --mine-shaft-1: #212121;
  --alizarin-crimson: #d01319;

  --baseFontSize: 16px;
  --typeScale: 1.25;

  --fontSizeSmall: calc(var(--baseFontSize) / 1.15);
  --fontSizeNormal: --baseFontSize;
  --fontSizeMediumSmall: calc(var(--baseFontSize) * var(--typeScale));
  --fontSizeMedium: calc(var(--fontSizeMediumSmall) * var(--typeScale));
  --fontSizeMediumLarge: calc(var(--fontSizeMedium) * var(--typeScale));
  --fontSizeLarge: calc(var(--fontSizeMediumLarge) * var(--typeScale));
  --fontSizeXLarge: calc(var(--fontSizeLarge) * var(--typeScale));
}

* {
  box-sizing: border-box;
}

* + * {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: var(--blueLight);
}

button:focus-visible,
a:focus-visible {
  border-radius: 5px;
  outline: 3px solid var(--blueLight);
  outline-offset: 1px;
}

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--fontSizeNormal);
  color: var(--blue);
}

main {
  margin: 1rem;
  height: calc(100% - calc(70px + 12rem)); /* Make sure main fills the page, adjusted for header */

  @include breakpoint('tablet') {
    margin: 3rem;
  }

  @include breakpoint('desktop') {
    margin: 5rem;
  }
}

h1 {
  color: var(--blue);
  font-size: var(--fontSizeMedium);
  font-weight: 600;
  line-height: 1;

  @include breakpoint('tablet') {
    font-size: var(--fontSizeMediumLarge);
  }
}

button {
  cursor: pointer;
}

.select-none {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.ReactModal__Overlay--after-open {
  z-index: 2;
}