.add-btn {
  position: absolute;
  margin-right: 3rem;
  right: 0;
  transform: translateY(-6rem);
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  display: flex;
}

.count {
  margin-left: 3rem;
  
  > * {
    margin-right: 0.5rem;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0 1.5rem ;
  table-layout: fixed;

  thead {
    background-color: var(--greyLighter);
  }

  td, th {
    padding: 1rem 0.75rem;
    text-align: left;
  }

  .status {
    display: flex;
    align-items: center;

    > span {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-right: 0.75rem;
    }
  }

  .active {
    background-color: var(--greenBright);
  }

  .inactive {
    background-color: var(--redBright);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  &-btn {
    border: none;
    background-color: transparent;
    font-size: var(--fontSizeNormal);
    padding: 0 0.5rem;

    &:disabled {
      cursor: default;
    }
  }

  &-intermediate {
    margin: 0 0.5rem;
  }
}