@import './breakpoints.scss';

.add-btn {
  position: absolute;
  right: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}

.no-data {
  margin: 4rem auto;
}

.controls {
  display: flex;
}

.count {
  margin-left: 3rem;
  
  > * {
    margin-right: 0.5rem;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0 1.5rem ;
  table-layout: fixed;

  thead {
    background-color: var(--greyLighter);
  }

  td, th {
    padding: 1rem 0.75rem;
    text-align: left;
    overflow: hidden;
  }

  .status {
    display: flex;
    align-items: center;

    > span {
      display: none;
      width: 1rem;
      height: 1rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-right: 0.75rem;

      @include breakpoint('tablet') {
        display: inline-block;
      }
    }
  }

  .active {
    background-color: var(--greenBright);
  }

  .inactive {
    background-color: var(--redBright);
  }
}

.user-table {
  tr th:nth-child(3),
  tr td:nth-child(3) {
    display: none;
  }

  @include breakpoint('tablet') {
    tr th:nth-child(3),
    tr td:nth-child(3) {
      display: table-cell;
    }
  }
}

.pagination-footer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pagination-button {
  border: 1px solid #DEE2E6;
  border-radius: 0.375rem;
  padding: 0.25rem 0.3rem;
  margin: 0 0.2rem;
}

.go-to-page-container {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  &:not(:first-of-type) {
    border-left: 2px solid var(--blue);
    margin-left: 0.5rem;
  }

  > :last-child {
    margin-left: 0.5rem;
  }
}

.page-num-select {
  border: 1px solid #DEE2E6;
  padding: 0.25rem;
  border-radius: 0.375rem;
}

.page-show-select {
  padding: 0.25rem 0.5rem;
  font-size: var(--fontSizeSmall);
  border-radius: 0.375rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  display: inline;
}

.sortable-header {
  cursor: pointer;
  user-select: none;
}