---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  import { adminOnlyPage, initializeAmplify } from '../utils/auth';
  import currentUser from '../stores/current-user';

  initializeAmplify();
  adminOnlyPage();

  const content = document.getElementById('page-content');

  if (content && currentUser.get().isAdmin === 'true') {
    content.style.display = 'block';
  }
</script>

<BaseLayout title={title}>
  <div id="page-content">
    <slot />
  </div>
</BaseLayout>

<style>
  #page-content {
    display: none;
  }
</style>
