---
import Banner from '../components/Banner.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';

import '../styles/main.scss';

interface Props {
  centered?: boolean;
  title: string;
}

const { centered, title } = Astro.props;
---

<script is:inline>
const global = globalThis; // Needed by AWS Amplify.
</script>

<html lang="en">
  <Banner />
  <Head title={title} />
  <body>
    <Header centered={centered} />
    <main id="root">
      <slot />
    </main>
  </body>
</html>
