---
import Header from '../components/Header.astro';

interface Props {
  narrow?: boolean;
  title: string;
}

const { narrow, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/dos_seal.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <div class={narrow ? 'container narrow' : 'container'}>
        <h1>{title}</h1>
        <slot />
      </div>
    </main>
  </body>
</html>
<style is:global>
  :root {
    --blue: #122e51;
    --grey: #8c8c8c;
    --greyLight: #dadada;
    --greyLighter: #f5f5f5;
    --orange: #dd7533;
    --red: #b72929;

    --baseFontSize: 16px;
    --typeScale: 1.25;

    --fontSizeSmall: calc(var(--baseFontSize) / var(--typeScale));
    --fontSizeNormal: --baseFontSize;
    --fontSizeMediumSmall: calc(var(--baseFontSize) * var(--typeScale));
    --fontSizeMedium: calc(var(--fontSizeMediumSmall) * var(--typeScale));
    --fontSizeMediumLarge: calc(var(--fontSizeMedium) * var(--typeScale));
    --fontSizeLarge: calc(var(--fontSizeMediumLarge) * var(--typeScale));
    --fontSizeXLarge: calc(var(--fontSizeLarge) * var(--typeScale));
  }
  body {
    margin: 0;
  }
  html {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
  }
  main {
    margin: 5rem;
  }
  h1 {
    color: var(--blue);
    font-size: var(--fontSizeMediumLarge);
    font-weight: 600;
    line-height: 1;
  }
  .container {
    border: 1px solid var(--grey);
    margin: 0 auto;
    max-width: 1755px;
    padding: 3rem;
  }
  .narrow {
    max-width: 1021px;
  }
</style>
