---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  showHomeLink?: boolean;
}

const { title, showHomeLink } = Astro.props;
---

<BaseLayout centered title={title}>
  <div class="container">
    <h1>{title}</h1>
    <slot />
    {showHomeLink && <a href="/">Take me home</a>}
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
</style>
