---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  showHomeLink?: boolean;
}

const { title, showHomeLink } = Astro.props;
---

<BaseLayout centered title={title}>
  <div class="container">
    <h1>{title}</h1>
    <slot />
    {showHomeLink && <a href="/">Take me home</a>}
  </div>
</BaseLayout>

<style lang="scss">
  @use '../styles/breakpoints.scss' as *;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto 2rem;

    @include breakpoint('tablet') {
      margin: 0 auto;
    }
  }
</style>
