---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script>
  import { loggedInOnlyPage, isLoggedIn } from '../utils/auth';

  loggedInOnlyPage();

  const content = document.getElementById('page-content');
  const error = document.getElementById('error');

  if (content && isLoggedIn() ) {
    content.style.display = 'block';
  } else if (error) {
    error.style.display = 'block';
  }
</script>

<BaseLayout title={title}>
  <span id="error">Please login access to this page</span>
  <div id="page-content">
    <slot />
  </div>
</BaseLayout>

<style>
  #page-content {
    display: none;
  }
  #error {
    display: none;
    font-size: var(--fontSizeMedium);
    text-align: center;
  }
</style>
