---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';

import '../styles/main.css';

interface Props {
  narrow?: boolean;
  title: string;
}

const { narrow, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} />
  <body>
    <Header />
    <main>
      <div class={narrow ? 'container narrow' : 'container'}>
        <div class="content">
          <h1>{title}</h1>
          <slot />
        </div>
        <p class="support">
          For assistance, please contact <a href="mailto:commonssupport@state.gov"
            >commonssupport@state.gov</a
          >
        </p>
      </div>
    </main>
    <style lang="scss">
      .container {
        border: 1px solid var(--greyLight);
        border-radius: 5px;
        display: grid;
        grid-template-rows: 1fr auto;
        position: relative;
        margin: 0 auto;
        max-width: 1755px;
        min-height: 100%;
        padding: 3rem 3rem 2rem;
      }
      .narrow {
        max-width: 1021px;
      }
      .support {
        text-align: center;
        color: var(
          --mine-shaft-1
        ); // Official DoS grey colors here do not meet contrast requirements

        > a {
          color: var(--blue);
        }
      }
    </style>
  </body>
</html>
