service: commons-gateway

frameworkVersion: '3'

provider:
  name: aws
  runtime: go1.x
  httpApi:
    cors: true

package:
  patterns:
    - '!./**'
    - ./bin/**

functions:
  admin-create:
    name: gateway-create-admin
    handler: bin/admin-create
    description: Add an new email to the list of admin users.
    events:
      - http:
          path: /admin/create
          method: post
          cors:
            origin: ${file(./config/${opt:stage, 'dev'}.json):cors.allowedOrigins}
  guest-auth:
    name: gateway-guest-auth
    handler: bin/guest-auth
    description: Authenticate a guest user.
    events:
      - httpApi:
          path: /guest-auth
          method: post
  creds-salt:
    name: gateway-retrieve-creds
    handler: bin/creds-salt
    description: Retrieve a users password hash and salt.
    events:
      - http:
          path: /creds/salt
          method: post
          cors:
            origin: ${file(./config/${opt:stage, 'dev'}.json):cors.allowedOrigins}
  creds-provision:
    name: gateway-provision-creds
    handler: bin/creds-provision
    description: Records a guest user invitation and generates credentials for this user.
    events:
      - httpApi:
          path: /creds/provision
          method: post
  email-creds:
    name: gateway-email-creds
    handler: funcs/email-creds/dist/index.handler
    description: Email an invitee their temporary credentials.
    runtime: nodejs18.x
    events:
      - sqs: arn:aws:sqs:us-east-1:601587284985:contentCommons-email-creds
