service: commons-gateway

frameworkVersion: '3'

plugins:
  - serverless-deployment-bucket

# Set the deployment type to dev for a stages except `prod`
# This mostly impacts the how CloudFormation allocates resources.
params:
  default:
    deployment: dev
    rollback: false
  prod:
    deployment: prod
    rollback: false

provider:
  name: aws
  region: ${env:AWS_REGION}
  iam:
    role:
      name: CommonsGatewayLambdaRole-${opt:stage}
      statements: ${file(./config/provider/iam.yml)}
  vpc:
    securityGroupIds:
      - !Ref LambdaSecurityGroup
    subnetIds:
      - !Ref SubnetA
      - !Ref SubnetB
  environment:
    DB_HOST: ${self:custom.PROXY_ENDPOINT}
    DB_NAME: ${self:custom.DB_NAME}
    DB_PORT: ${self:custom.DB_PORT}
    DB_REGION: ${env:AWS_REGION}
    DB_USER: ${self:custom.DB_USER}
    JWT_SECRET: ${/aws/reference/secretsmanager/${self:custom.JWT_SECRET_NAME}}
  deploymentBucket:
    name: gpalab-automatic-deployments-${param:deployment}
  disableRollback: ${param:rollback}

useDotenv: true

custom:
  CIDR: 10.0.0.0/16
  DB_NAME: gateway_${opt:stage}
  DB_USER: gateway${opt:stage}
  DB_PORT: !GetAtt RDSInstance.Endpoint.Port
  JWT_SECRET_NAME: commons-gateway-${opt:stage}-jwt
  PROXY_NAME: commons-gateway-proxy-${opt:stage}
  PROXY_ENDPOINT: !GetAtt RDSProxy.Endpoint

resources:
  - ${file(./config/resources/auth.yml)}
  - ${file(./config/resources/vpc.yml)}
  - ${file(./config/resources/rds.yml)}
  - ${file(./config/resources/proxy.yml)}
  - ${file(./config/resources/cloudfront.yml)}
  - ${file(./config/resources/nat.yml)}
  - ${file(./config/resources/sqs.yml)}
  - ${file(./config/resources/s3.yml)}
  - ${file(./config/resources/secretsmanager.yml)}
  - ${file(./config/resources/jump.yml)} # Optional jump server to access resources via SSH, uncomment to apply

# Defines how the functions are deployed. To reduce the functions
# size for each Lambda, we package them independently. This requires
# us to set the package pattern individually per function.
package:
  individually: true
  patterns:
    - '!./**'

functions:
  - ${file(./config/functions/auth.yml)}
  - ${file(./config/functions/admin.yml)}
  - ${file(./config/functions/aprimo.yml)}
  - ${file(./config/functions/db.yml)}
  - ${file(./config/functions/emails.yml)}
  - ${file(./config/functions/guest.yml)}
  - ${file(./config/functions/team.yml)}
  - ${file(./config/functions/uploads.yml)}
