service: commons-gateway

frameworkVersion: '3'

plugins:
  - serverless-deployment-bucket

# Set the deployment type to dev for a stages except `prod`
# This mostly impacts the how CloudFormation allocates resources.
params:
  default:
    deployment: dev
    rollback: true
  prod:
    deployment: prod
    rollback: false

provider:
  name: aws
  region: us-east-1
  iam:
    role:
      name: CommonsGatewayLambdaRole-${opt:stage}
      statements:
        - Effect: Allow
          Action: 'rds-db:connect'
          Resource: !GetAtt RDSProxy.DBProxyArn
  vpc:
    securityGroupIds:
      - !Ref LambdaSecurityGroup
    subnetIds:
      - !Ref SubnetA
      - !Ref SubnetB
  environment:
    DB_HOST: ${self:custom.PROXY_ENDPOINT}
    DB_NAME: ${self:custom.DB_NAME}
    DB_PORT: ${self:custom.DB_PORT}
    DB_USER: ${self:custom.DB_USER}
  deploymentBucket:
    name: gpalab-automatic-deployments-${param:deployment}
  disableRollback: ${param:rollback}

custom:
  DB_NAME: gateway_${opt:stage}
  DB_USER: gateway${opt:stage}
  DB_PORT: !GetAtt RDSInstance.Endpoint.Port
  PROXY_NAME: commons-gateway-proxy-${opt:stage}
  PROXY_ENDPOINT: !GetAtt RDSProxy.Endpoint

resources:
  - ${file(./config/resources/vpc.yml)}
  - ${file(./config/resources/rds.yml)}
  - ${file(./config/resources/proxy.yml)}

# Defines how the functions are deployed. To reduce the functions
# size for each Lambda, we package them independently. This requires
# us to set the package pattern individually per function.
package:
  individually: true
  patterns:
    - '!./**'

functions:
  adminCreate:
    name: gateway-${opt:stage}-admin-create
    handler: bin/admin-create
    description: Add an new email to the list of admin users.
    runtime: go1.x
    events:
      - http:
          path: /admin/create
          method: post
          cors:
            origin: ${file(./config/${param:deployment}.json):allowedOrigins}
    package:
      patterns:
        - './bin/admin-create'
  adminGet:
    name: gateway-${opt:stage}-admin-get
    handler: bin/admin-get
    description: Retrieve an individual admin users.
    runtime: go1.x
    events:
      - http:
          path: /admin/get
          method: post
          cors:
            origin: ${file(./config/${param:deployment}.json):allowedOrigins}
    package:
      patterns:
        - './bin/admin-get'
  adminsGet:
    name: gateway-${opt:stage}-admins-get
    handler: bin/admins-get
    description: Retrieve the list of admin users.
    runtime: go1.x
    events:
      - http:
          path: /admins
          method: get
          cors:
            origin: ${file(./config/${param:deployment}.json):allowedOrigins}
    package:
      patterns:
        - './bin/admins-get'
  guestAuth:
    name: gateway-${opt:stage}-guest-auth
    handler: bin/guest-auth
    description: Authenticate a guest user.
    runtime: go1.x
    events:
      - http:
          path: /guest/auth
          method: post
          cors:
            origin: ${file(./config/${param:deployment}.json):allowedOrigins}
    package:
      patterns:
        - './bin/guest-auth'
  guestsGet:
    name: gateway-${opt:stage}-guests-get
    handler: bin/guests-get
    description: Retrieve a list of guest users.
    runtime: go1.x
    events:
      - http:
          path: /guests
          method: post
          cors:
            origin: ${file(./config/${param:deployment}.json):allowedOrigins}
    package:
      patterns:
        - './bin/guests-get'
  initDB:
    name: gateway-${opt:stage}-init-db
    handler: bin/init-db
    description: Initialize the application database with the necessary tables.
    runtime: go1.x
    package:
      patterns:
        - './bin/init-db'
  teamCreate:
    name: gateway-${opt:stage}-team-create
    handler: bin/team-create
    description: Create a new team.
    runtime: go1.x
    events:
      - http:
          path: /team/create
          method: post
          cors:
            origin: ${file(./config/${param:deployment}.json):allowedOrigins}
    package:
      patterns:
        - './bin/team-create'
  teamsGet:
    name: gateway-${opt:stage}-teams-get
    handler: bin/teams-get
    description: Retrieve the list of teams.
    runtime: go1.x
    events:
      - http:
          path: /teams
          method: get
          cors: ${file(./config/${param:deployment}.json):cors}
    package:
      patterns:
        - './bin/teams-get'
  credsSalt:
    name: gateway-${opt:stage}-creds-retrieve
    handler: bin/creds-salt
    description: Retrieve a users hashing salt.
    runtime: go1.x
    events:
      - http:
          path: /creds/salt
          method: post
          cors:
            origin: ${file(./config/${param:deployment}.json):allowedOrigins}
    package:
      patterns:
        - './bin/creds-salt'
  credsProvision:
    name: gateway-${opt:stage}-creds-provision
    handler: bin/creds-provision
    description: Records a guest user invitation and generates credentials for this user.
    runtime: go1.x
    events:
      - http:
          path: /creds/provision
          method: post
          cors:
            origin: ${file(./config/${param:deployment}.json):allowedOrigins}
    package:
      patterns:
        - './bin/creds-provision'
  email2fa:
    name: gateway-${opt:stage}-email-2fa
    handler: funcs/email-2fa/dist/index.handler
    description: Email an invitee their temporary verification code.
    runtime: nodejs18.x
    events:
      - sqs: arn:aws:sqs:${aws:region}:${aws:accountId}:contentCommons-email-2fa
    package:
      patterns:
        - 'funcs/email-2fa/dist/index.cjs'
  emailCreds:
    name: gateway-${opt:stage}-email-creds
    handler: funcs/email-creds/dist/index.handler
    description: Email an invitee their temporary credentials.
    runtime: nodejs18.x
    events:
      - sqs: arn:aws:sqs:${aws:region}:${aws:accountId}:contentCommons-email-creds
    package:
      patterns:
        - 'funcs/email-creds/dist/index.cjs'
  emailSupportStaff:
    name: gateway-${opt:stage}-email-support-staff
    handler: funcs/email-support-staff/index.handler
    description: Email a Content Commons user an update on requested support staff.
    runtime: nodejs18.x
    events:
      - sqs: arn:aws:sqs:${aws:region}:${aws:accountId}:contentCommons-email-support-staff
    package:
      patterns:
        - 'funcs/email-support-staff/dist/index.cjs'
