service: commons-gateway

frameworkVersion: '3'

provider:
  name: aws
  runtime: go1.x
  stage: dev

# you can overwrite defaults here
#  region: us-east-1

package:
  patterns:
    - '!./**'
    - ./bin/**

functions:
  admin-new:
    name: adminNew
    handler: bin/admin-new
    description: Add an new email to the list of admin users.
    events:
      - httpApi:
          path: /admin-new
          method: post
  provision:
    name: provisionCredentials
    handler: bin/provision
    description: Records a guest user invitation and generates credentials for this user.
    events:
      - httpApi:
          path: /provision
          method: post
