# All of the functions pertaining to file uploads.
uploadMetadata:
  name: gateway-${opt:stage}-upload-metadata
  handler: bin/upload-metadata
  description: Records a file upload record.
  runtime: go1.x
  events:
    - http:
        path: /upload
        method: post
        cors: ${file(./config/${param:deployment}.json):cors}
  package:
    patterns:
      - './bin/upload-metadata'
uploadPresignedUrl:
  name: gateway-${opt:stage}-upload-presigned-url
  handler: bin/upload-presigned-url
  description: Return a presigned URL from S3 to upload a specific file.
  runtime: go1.x
  events:
    - http:
        path: /upload
        method: get
        cors: ${file(./config/${param:deployment}.json):cors}
  package:
    patterns:
      - './bin/upload-presigned-url'
  environment:
    S3_UPLOAD_BUCKET: commons-gateway-${opt:stage}-upload
