---
import Button from '../components/Button.astro';
import LoggedOutLayout from '../layouts/LoggedOutLayout.astro';

import oktaIcon from '/icon_okta.svg';
---

<script>
  import { isLoggedInAsAdmin } from '../utils/auth';
  import { handleAdminLogin, handleFederatedLogin } from '../utils/login';

  // Bypass authentication screen for authenticated users.
  const authenticated = isLoggedInAsAdmin() || (await handleAdminLogin());

  if (authenticated) {
    window.location.assign('/');
  }

  const loginBtn = document.getElementById('okta-btn');

  loginBtn?.addEventListener('click', handleFederatedLogin);
</script>

<LoggedOutLayout title="Admin Login">
  <div>
    <Button id="okta-btn" class="okta-btn" type="button">
      <img src={oktaIcon} alt="Okta Single Sign-On" width="24" />
      {'Log In With Okta'}
    </Button>
  </div>
  <a href="/partner-login" style="margin-top: 1em;">Go to External Partner Login</a>
</LoggedOutLayout>

<style>
  img {
    margin-right: 1rem;
  }
  .okta-btn {
    display: flex;
    align-items: center;
  }
</style>
