---
import Button from '../components/Button.astro';
import LoggedOutLayout from '../layouts/LoggedOutLayout.astro';

import oktaIcon from '/icon_okta.svg';
---

<script>
  import { handleAdminLogin, initializeAmplify, isLoggedIn } from '../utils/auth';

  initializeAmplify();

  // Bypass authentication screen for authenticated users.
  const authenticated = await isLoggedIn();

  if (authenticated) {
    window.location.assign('/');
  }

  const loginBtn = document.getElementById('okta-btn');

  loginBtn?.addEventListener('click', () => handleAdminLogin());
</script>

<LoggedOutLayout title="Admin Login">
  <div>
    <Button id="okta-btn" class="okta-btn" type="button">
      <img src={oktaIcon} alt="Okta Single Sign-On" width="24" />
      {'Log In With Okta'}
    </Button>
  </div>
</LoggedOutLayout>

<style>
  img {
    margin-right: 1rem;
  }
  .okta-btn {
    display: flex;
    align-items: center;
  }
</style>
