---
import Button from '../components/Button.astro';
import LoggedOutLayout from '../layouts/LoggedOutLayout.astro';
---

<script>
  import { deriveHash } from '../utils/hashing';
  import { passTheSalt, submitHash } from '../utils/api';

  const submitBtn = document.getElementById('login-btn');
  const nameInput = document.getElementById('name-input') as HTMLInputElement;
  const passInput = document.getElementById('pass-input') as HTMLInputElement;

  submitBtn?.addEventListener('click', async (e) => {
    e.preventDefault();

    const name = nameInput.value;
    const pass = passInput.value;

    if (!name) {
      return;
    }

    const salt = await passTheSalt(name);

    if (salt) {
      const localHash = await deriveHash(pass, salt);

      submitHash('create', localHash, name);
    }
  });
</script>

<LoggedOutLayout title="External Partner Login">
  <form>
    <label>
      Username
      <input id="name-input" type="text" />
    </label>
    <label>
      Password
      <input id="pass-input" type="password" />
    </label>
  </form>
  <Button id="login-btn" text="Sign In" type="submit" />
</LoggedOutLayout>

<style>
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  label {
    color: var(--blue);
    display: flex;
    flex-direction: column;
    font-size: var(--fontSizeSmall);
    margin: 1rem 0;
  }

  input {
    border: 1px solid var(--greyLight);
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
  }
</style>
