---
import LoggedOutLayout from '../layouts/LoggedOutLayout.astro';

import '../styles/form.scss';
---

<script>
  import { logout } from '../utils/login';

  logout();
</script>

<LoggedOutLayout title="Content Commons Login">
  <p>
    You have been logged out. If you are not automatically redirected after a few seconds, click <a
      href="/login">here.</a>
  </p>
</LoggedOutLayout>
