---
import Button from '../components/Button.astro';
import File from '../components/File.astro';
import LoggedInPageLayout from '../layouts/LoggedInPageLayout.astro';
import PageContainer from '../layouts/PageContainer.astro';

const title = 'Submit Files';
---

<script>
  import { haltEvent, dropHandler, submitHandler, chooseHandler } from '../utils/files';

  // Handle drag-and-drop zone.
  const dropZone = document.getElementById('drop-zone');

  dropZone?.addEventListener('dragenter', (e) => haltEvent(e));
  dropZone?.addEventListener('dragover', (e) => haltEvent(e));
  dropZone?.addEventListener('drop', (e) => dropHandler(e));

  // Handle file browse upload.
  const fileBrowse = document.getElementById('add-files-button');
  fileBrowse?.addEventListener('change', chooseHandler);

  // Handle submit button.
  const submitButton = document.getElementById('upload-files-btn');

  submitButton?.addEventListener('click', submitHandler);
</script>

<LoggedInPageLayout title={title}>
  <PageContainer title={title}>
    <p class="section-header"><strong>Upload video or photo files <span>*</span></strong></p>
    <div class="drop-zone" id="drop-zone">
      <strong>drag and drop files</strong>
      <ul class="file-list" id="file-list"></ul>
    </div>
    <File id="add-files-button" promptText="or search your computer: " />

    <p class="section-header"><strong>Description <span>*</span></strong></p>
    <p>Include a point of contact email in case questions arise.</p>
    <textarea id="description-text" aria-label="Enter uploaded media metadata" />
    <Button id="upload-files-btn" type="submit">Submit</Button>
  </PageContainer>
</LoggedInPageLayout>

<style>
  p,
  strong {
    color: var(--blue);
  }
  span {
    color: var(--red);
  }
  textarea {
    border: 1px solid var(--greyLight);
    border-radius: 5px;
    padding: 1rem;
    width: calc(100% - (2rem + 2px));
    margin-bottom: 1rem;
  }
  .drop-zone {
    background-color: var(--greyLighter);
    border: 2px dotted var(--greyLight);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .section-header {
    margin-top: 2rem;
  }
  .file-list {
    list-style: none;
    padding: 0;
  }
</style>
