---
interface Props {
  text: string;
  type?: 'button' | 'submit';
}

const { type, text } = Astro.props;
---

<button type={type ? type : 'button'}>
  {text}
</button>

<style>
  button {
    background-color: var(--blue);
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
</style>
