---
import styles from '../styles/button.module.scss';

interface Props {
  class?: string;
  id?: string;
  type?: 'button' | 'submit';
  disabled?: boolean;
}

const { class: className, id, type, disabled } = Astro.props;
---

<button
  class:list={[className, styles.btn]}
  id={id || ''}
  type={type || 'button'}
  disabled={disabled ?? false}
>
  <slot />
</button>
