---
import styles from '../styles/button.module.scss'

interface Props {
  class?: string;
  id?: string;
  text: string;
  type?: 'button' | 'submit';
}

const { class: classes, id, type, text } = Astro.props;
---

<button
  class:list={[classes, styles.btn]}
  id={id || ''}
  type={type || 'button'}
>
  {text}
</button>
