---
interface Props {
  id?: string;
  text: string;
  type?: 'button' | 'submit';
}

const { id, type, text } = Astro.props;
---

<button id={id || ''} type={type || 'button'}>
  {text}
</button>

<style>
  button {
    background-color: var(--blue);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
</style>
