---
import styles from '../styles/button.module.scss';

interface Props {
  class?: string;
  id?: string;
  type?: 'button' | 'submit';
}

const { class: classes, id, type } = Astro.props;
---

<button class:list={[classes, styles.btn]} id={id || ''} type={type || 'button'}>
  <slot />
</button>
