---
import '../styles/button.scss'

interface Props {
  class?: string;
  id?: string;
  text: string;
  type?: 'button' | 'submit';
}

const { class: classes, id, type, text } = Astro.props;
---

<button
  class:list={[classes]}
  id={id || ''}
  type={type || 'button'}
>
  {text}
</button>
