---
import Button from './Button.astro';
import Hamburger from '../components/Hamburger.astro';
import Navigation from '../components/Navigation/Navigation';

interface Props {
  centered?: boolean;
}

const { centered } = Astro.props;
---

<script>
  import { logout } from '../utils/login';

  const signOutBtn = document.getElementById('sign-out');

  signOutBtn?.addEventListener('click', logout);
</script>

<header>
  <div class={centered ? 'centered main' : 'normal main'}>
    <img
      alt="Official seal of the U.S. Department of State"
      class={centered ? 'centered' : 'normal'}
      height={centered ? '110px' : '70px'}
      src="/dos_seal.svg"
    />
    {
      !centered && (
        <>
          <span>Commons External Partners</span>
          <Hamburger />
        </>
      )
    }
  </div>
  {
    !centered && (
      <div class="below">
        <div class="nav-container">
          <Navigation client:only />
        </div>
        <Button id="sign-out">Sign Out</Button>
      </div>
    )
  }
</header>

<style lang="scss">
  @use '../styles/breakpoints.scss' as *;

  .main {
    background-color: var(--blue);
    display: flex;
    text-transform: uppercase;

    &.centered {
      height: 90px;
      justify-content: center;
    }

    &.normal {
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;

      @include breakpoint('tablet') {
        justify-content: flex-start;
      }
    }
  }

  .below {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    &.centered {
      transform: translateY(40px);
    }

    &.normal {
      display: none;
      margin: 1rem 1.5rem 1rem 1rem;

      @include breakpoint('tablet') {
        display: block;
      }
    }
  }

  .nav-container {
    @include breakpoint('mobileonly') {
      width: 100%;
    }

    @include breakpoint('tablet') {
      min-height: 58.5px;
    }
  }

  #sign-out {
    display: none;
    margin-right: 5rem;

    @include breakpoint('tablet') {
      display: block;
    }
  }

  span {
    border-left: 4px solid var(--orange);
    color: white;
    font-size: var(--fontSizeMediumSmall);
    font-weight: 300;
    padding: 0 2rem;
  }

  @include breakpoint('tablet') {
    span {
      font-size: var(--fontSizeMedium);
    }
  }

  @include breakpoint('desktop') {
    span {
      font-size: var(--fontSizeXLarge);
    }
  }
</style>
