---
import Hamburger from '../components/Hamburger.astro';
import Navigation from '../components/Navigation.astro';
---

<header>
  <div>
    <img src="/dos_seal.svg" height="70px" alt="Official seal of the U.S. Department of State" />
    <span>Commons External Partners</span>
    <Hamburger />
  </div>
  <Navigation />
</header>

<style lang="scss">
  @use '../styles/breakpoints.scss' as *;

  div {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 0.5rem;
  }

  img {
    display: none;
    margin: 1rem 1.5rem 1rem 1rem;

    @include breakpoint('tablet') {
      display: block;
    }
  }

  span {
    border-left: 4px solid var(--orange);
    color: white;
    font-size: var(--fontSizeMediumSmall);
    font-weight: 300;
    padding: 0 2rem;
  }

  @include breakpoint('tablet') {
    span {
      font-size: var(--fontSizeMedium);
    }
  }

  @include breakpoint('desktop') {
    span {
      font-size: var(--fontSizeXLarge);
    }
  }
</style>
