---

import Hamburger from '../components/Hamburger.astro';
import Navigation from '../components/Navigation.astro';

---
<header>
  <img src="/dos_seal.svg" height="70px" alt="Official seal of the U.S. Department of State"/>
  <span>Commons External Partners <Hamburger /><Navigation /></span>
</header>

<style lang="scss">
  header {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  img {
    margin: 1rem 2rem;
  }
  span {
    border-left: 4px solid var(--orange);
    color: white;
    font-size: var(--fontSizeXLarge);
    font-weight: 300;
    padding: 0 2rem;
  }
</style>
