---
import Hamburger from '../components/Hamburger.astro';
import Navigation from '../components/Navigation.astro';

interface Props {
  centered?: boolean;
}

const { centered } = Astro.props;
---

<header>
  <div class={centered ? 'centered' : 'normal'}>
    <img
      alt="Official seal of the U.S. Department of State"
      class={centered ? 'centered' : 'normal'}
      height={centered ? '110px' : '70px'}
      src="/dos_seal.svg"
    />
    {
      !centered && (
        <>
          <span>Commons External Partners</span>
          <Hamburger />
        </>
      )
    }
  </div>
  {!centered && <Navigation />}
</header>

<style lang="scss">
  @use '../styles/breakpoints.scss' as *;

  div {
    background-color: var(--blue);
    display: flex;
    text-transform: uppercase;

    &.centered {
      height: 90px;
      justify-content: center;
    }

    &.normal {
      align-items: center;
      padding: 0.5rem;
    }
  }

  img {
    &.centered {
      transform: translateY(40px);
    }

    &.normal {
      display: none;
      margin: 1rem 1.5rem 1rem 1rem;

      @include breakpoint('tablet') {
        display: block;
      }
    }
  }

  span {
    border-left: 4px solid var(--orange);
    color: white;
    font-size: var(--fontSizeMediumSmall);
    font-weight: 300;
    padding: 0 2rem;
  }

  @include breakpoint('tablet') {
    span {
      font-size: var(--fontSizeMedium);
    }
  }

  @include breakpoint('desktop') {
    span {
      font-size: var(--fontSizeXLarge);
    }
  }
</style>
